In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ["sahith" , "pradeep" , "Rigved"],
    "marks" : [ 99, 99, 99],
    "city" : ["Hyderabad" , "Hyd" , "SanathNagar"]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df["name"]

0     sahith
1    pradeep
2     Rigved
Name: name, dtype: object

In [5]:
type(df["name"])

pandas.core.series.Series

In [6]:
ser = pd.Series(np.random.rand(10))

In [7]:

ser

0    0.109327
1    0.034590
2    0.301307
3    0.266976
4    0.984457
5    0.392135
6    0.367466
7    0.934365
8    0.068101
9    0.904691
dtype: float64

In [8]:
newdf = pd.DataFrame(np.random.rand(334, 5) , index=np.arange(334))

In [9]:
newdf

            0         1         2         3         4
0    0.031719  0.700017  0.755888  0.010712  0.098378
1    0.119843  0.824143  0.376966  0.933454  0.577651
2    0.028778  0.356406  0.854395  0.719406  0.342717
3    0.943087  0.017001  0.129311  0.495483  0.279310
4    0.344317  0.585592  0.765108  0.213004  0.040627
..        ...       ...       ...       ...       ...
329  0.402985  0.975782  0.166657  0.837329  0.123826
330  0.839168  0.354298  0.463855  0.293242  0.997423
331  0.622930  0.464646  0.618296  0.997071  0.011188
332  0.963443  0.537151  0.679529  0.251989  0.037104
333  0.199681  0.951844  0.590003  0.999767  0.876514

[334 rows x 5 columns]

In [10]:
type(newdf)

pandas.core.frame.DataFrame

In [11]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [12]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [13]:
newdf.to_numpy()

array([[0.03171943, 0.70001688, 0.75588849, 0.01071223, 0.09837802],
       [0.11984324, 0.8241433 , 0.37696587, 0.93345418, 0.57765078],
       [0.02877819, 0.35640588, 0.85439495, 0.71940641, 0.34271678],
       ...,
       [0.62293022, 0.46464648, 0.61829629, 0.99707094, 0.01118752],
       [0.96344317, 0.53715107, 0.67952929, 0.2519886 , 0.03710434],
       [0.19968118, 0.95184385, 0.59000326, 0.99976726, 0.87651376]])

In [14]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.031719,0.119843,0.028778,0.943087,0.344317,0.777864,0.179210,0.835866,0.913578,0.754333,...,0.148703,0.367130,0.600876,0.348852,0.932459,0.402985,0.839168,0.622930,0.963443,0.199681
1,0.700017,0.824143,0.356406,0.017001,0.585592,0.866154,0.467475,0.861603,0.858651,0.169440,...,0.235234,0.430118,0.518929,0.698075,0.856792,0.975782,0.354298,0.464646,0.537151,0.951844
2,0.755888,0.376966,0.854395,0.129311,0.765108,0.239968,0.298537,0.748773,0.231696,0.874987,...,0.876644,0.573084,0.364483,0.098380,0.527113,0.166657,0.463855,0.618296,0.679529,0.590003
3,0.010712,0.933454,0.719406,0.495483,0.213004,0.912478,0.962221,0.709298,0.430340,0.577762,...,0.591873,0.363294,0.657898,0.447689,0.838523,0.837329,0.293242,0.997071,0.251989,0.999767
4,0.098378,0.577651,0.342717,0.279310,0.040627,0.995666,0.736457,0.780017,0.924590,0.476562,...,0.651107,0.182649,0.687405,0.192741,0.129419,0.123826,0.997423,0.011188,0.037104,0.876514

In [15]:
newdf

            0         1         2         3         4
0    0.031719  0.700017  0.755888  0.010712  0.098378
1    0.119843  0.824143  0.376966  0.933454  0.577651
2    0.028778  0.356406  0.854395  0.719406  0.342717
3    0.943087  0.017001  0.129311  0.495483  0.279310
4    0.344317  0.585592  0.765108  0.213004  0.040627
..        ...       ...       ...       ...       ...
329  0.402985  0.975782  0.166657  0.837329  0.123826
330  0.839168  0.354298  0.463855  0.293242  0.997423
331  0.622930  0.464646  0.618296  0.997071  0.011188
332  0.963443  0.537151  0.679529  0.251989  0.037104
333  0.199681  0.951844  0.590003  0.999767  0.876514

[334 rows x 5 columns]

In [16]:
newdf.sort_index(axis=0, ascending=False)

            0         1         2         3         4
333  0.199681  0.951844  0.590003  0.999767  0.876514
332  0.963443  0.537151  0.679529  0.251989  0.037104
331  0.622930  0.464646  0.618296  0.997071  0.011188
330  0.839168  0.354298  0.463855  0.293242  0.997423
329  0.402985  0.975782  0.166657  0.837329  0.123826
..        ...       ...       ...       ...       ...
4    0.344317  0.585592  0.765108  0.213004  0.040627
3    0.943087  0.017001  0.129311  0.495483  0.279310
2    0.028778  0.356406  0.854395  0.719406  0.342717
1    0.119843  0.824143  0.376966  0.933454  0.577651
0    0.031719  0.700017  0.755888  0.010712  0.098378

[334 rows x 5 columns]

In [17]:
newdf = pd.DataFrame(np.random.rand(334, 5) , index=np.arange(334))